<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hebe.mapper.DiaryMapper">
    <select id="selUserDiary" resultType="CardDomain">
        select A.iboard, A.title, A.iuser, date_format(A.regdt, '%Y-%m-%d') as regdt, A.thumbnail, B.favCnt, C.username, C.nickname, C.profileimg, C.introduction
        from diarydb A
        LEFT JOIN (
            SELECT iboard, count(iboard) as favCnt
            FROM favdb
            GROUP BY iboard
        ) B
        ON A.iboard = B.iboard
        LEFT JOIN userdb C
        ON A.iuser = C.iuser
        WHERE C.iuser = #{iuser}
        AND A.title != 'preWrite'
        ORDER BY A.iboard desc
    </select>

    <select id="selUserDiaryPaging" resultType="CardDomain">
        select A.iboard, A.title, A.iuser, date_format(A.regdt, '%Y-%m-%d') as regdt, A.thumbnail, B.favCnt, C.username, C.nickname, C.profileimg, C.introduction
        from diarydb A
        LEFT JOIN (
            SELECT iboard, count(iboard) as favCnt
            FROM favdb
            GROUP BY iboard
        ) B
        ON A.iboard = B.iboard
        LEFT JOIN userdb C
        ON A.iuser = C.iuser
        WHERE C.iuser = #{iuser}
        AND A.title != 'preWrite'
        ORDER BY A.iboard desc
        LIMIT 8 OFFSET #{offsetNum}
    </select>

    <select id="selUserInfo" resultType="UserEntity">
        select profileimg, nickname, introduction
        from userdb
        where iuser = #{iuser}
    </select>

    <insert id="preWriteDiary">
        insert into diarydb
            (title, content, iuser)
        values
            (#{title}, #{content}, #{iuser});
    </insert>

    <select id="getMostRecent" resultType="DiaryEntity">
        select * from diarydb ORDER BY iboard DESC LIMIT 1;
    </select>

    <update id="updateDiary">
        update diarydb
        set iuser = #{iuser}, title = #{title}, content = #{content}, thumbnail = #{thumbnail}
        where iboard = #{iboard}
    </update>

    <insert id="writeDiary">
        insert into diarydb
            (iuser, title, content, thumbnail)
        values
            (#{iuser}, #{title}, #{content}, #{thumbnail})
    </insert>

    <delete id="deleteDiary">
        delete from diarydb
        where iboard = #{iboard} and iuser = #{iuser}
    </delete>

    <select id="detailDiary" resultType="DetailDomain">
        select A.iuser, A.title, A.content, date_format(A.regdt, '%Y-%m-%d') as regdt, B.profileimg, B.nickname, B.introduction, (
            select count(*)
            from favdb
            where iboard = #{iboard} and iuser = #{iuser}
        ) as isFav
        from diarydb A
        inner join userdb B
        on A.iuser = B.iuser
        where A.iboard = #{iboard}
    </select>

    <select id="cmtList" resultType="CmtDomain">
        select A.icmt, A.comment, A.iboard, A.iuser, date_format(A.regdt, '%Y-%m-%d') as regdt, B.profileimg, B.nickname, B.introduction
        from cmtdb A
        inner join userdb B
        on A.iuser = B.iuser
        where iboard = #{iboard}
    </select>

    <insert id="cmtWrite">
        insert into cmtdb
            (comment, iboard, iuser)
        values
            (#{comment}, #{iboard}, #{iuser})
    </insert>

    <delete id="cmtDelete">
        delete from cmtdb
        where icmt = #{icmt} and iuser = #{iuser}
    </delete>

    <update id="cmtUpdate">
        update cmtdb
        set comment = #{comment}
        where icmt = #{icmt} and iuser = #{iuser}
    </update>

    <insert id="addFav">
        insert into favdb
            (iuser, iboard)
        values
            (#{iuser}, #{iboard})
    </insert>

    <delete id="removeFav">
        delete from favdb
        where iuser = #{iuser} and iboard = #{iboard}
    </delete>
</mapper>