<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hebe.mapper.MainMapper">
    <select id="selPopularList" resultType="CardDomain">
        select A.iboard, A.title, A.iuser, date_format(A.regdt, '%Y-%m-%d') as regdt, A.thumbnail, B.favCnt, C.username, C.nickname, C.profileimg
        from diarydb A
        LEFT JOIN (
            SELECT iboard, count(iboard) as favCnt FROM favdb
            GROUP BY iboard
        ) B
        ON A.iboard = B.iboard
            LEFT JOIN userdb C
            ON A.iuser = C.iuser
        WHERE A.title != 'preWrite'
        ORDER BY B.favCnt DESC
    </select>

    <select id="selRecentList" resultType="CardDomain">
        select A.iboard, A.title, A.iuser, date_format(A.regdt, '%Y-%m-%d') as regdt, A.thumbnail, B.favCnt, C.username, C.nickname, C.profileimg
        from diarydb A
        LEFT JOIN (
            SELECT iboard, count(iboard) as favCnt FROM favdb
            GROUP BY iboard
        ) B
        ON A.iboard = B.iboard
        LEFT JOIN userdb C
        ON A.iuser = C.iuser
        WHERE A.title != 'preWrite'
        ORDER BY A.iboard desc
    </select>

    <select id="searchUser" resultType="UserEntity">
        select iuser, username, nickname, profileimg
        from userdb
        where nickname like CONCAT('%', #{nickname}, '%')
    </select>

    <select id="searchUserList" resultType="UserEntity">
        select iuser, username, nickname, profileimg, introduction
        from userdb
        where nickname like CONCAT('%', #{nickname}, '%')
    </select>
</mapper>