<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hebe.mapper.MainMapper">
    <select id="selPopularList" resultType="CardDomain">
        select A.iboard, A.title, A.iuser, A.regdt, A.thumbnail, B.favCnt, C.email, C.unm
        from diaryDB A
        LEFT JOIN (
            SELECT iboard, count(iboard) as favCnt FROM favDB
            GROUP BY iboard
        ) B
        ON A.iboard = B.iboard
        LEFT JOIN userDB C
        ON A.iuser = C.iuser
        ORDER BY B.favCnt DESC
    </select>

    <select id="selRecentList" resultType="CardDomain">
        select A.iboard, A.title, A.iuser, A.regdt, A.thumbnail, B.favCnt, C.email, C.unm
        from diaryDB A
        LEFT JOIN (
            SELECT iboard, count(iboard) as favCnt FROM favDB
            GROUP BY iboard
        ) B
        ON A.iboard = B.iboard
        LEFT JOIN userDB C
        ON A.iuser = C.iuser
        ORDER BY A.iboard desc
    </select>

    <select id="searchUser" resultType="UserEntity">
        select email, profileImg
        from userDB
        where email = #{email}
    </select>
</mapper>