<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hebe.jwt.mapper.UserMapper">
    <select id="selUsername" resultType="int">
        SELECT COUNT(*) FROM userdb
        WHERE username = #{username} AND provider = 'HEBE'
    </select>

    <select id="selNickname" resultType="int">
        SELECT COUNT(*) FROM userdb
        WHERE nickname = #{nickname}
    </select>

    <update id="updUser">
        UPDATE userdb
        SET nickname = #{nickname}, introduction = #{introduction}
        <if test="profileimg != null">, profileimg = #{profileimg}</if>
        WHERE iuser = ${iuser}
    </update>

    <select id="selNameProvider" resultType="com.hebe.jwt.model.UserEntity">
        SELECT * FROM userdb
        WHERE username = #{username} AND provider = #{provider}
    </select>
</mapper>
