spring:
  datasource:
    url: jdbc:mariadb://hebe-db.cok6p3wjd2e5.ap-northeast-2.rds.amazonaws.com:3306/hebe
    username: admin
    password: sweetgirl3!
    driver-class-name: org.mariadb.jdbc.Driver
  mail:
    host: smtp.gmail.com
    port: 587
    username: hebenote.com@gmail.com
    password: sweetgirl3!
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1032001853934-78dmac7kurqos5r8bpvs9hen0afa8bgv.apps.googleusercontent.com
            client-secret: oPRqiNcXKA9nUfMxMRYkLRe7
            scope: email, profile

          kakao:
            authorization-grant-type: authorization_code
            client-id: b3666ac61e5a48bc4b86aa650b2c89e8 # rest API
            client-secret: mweaQa1voV0VvYAtHEKYMrNTsWSS7dVV
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: profile_image, account_email
            client-authentication-method: POST
            client-name: Kakao

          naver:
            authorization-grant-type: authorization_code
            client-id: Wt7w44Bz35znrEJBbnnN # Client ID
            client-secret: wxcaH5K72R
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - name
              - profile_image
            client-name: Naver

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: properties
            # JSON 형태에서 "properties"라는 key값에 해당하는 value에 회원 정보가 담겨져있다.
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
            # JSON 형태에서 "response"라는 key값에 해당하는 value에 회원 정보가 담겨져있다.

  jpa:
    hibernate:
      ddl-auto: update # 최초실행 시 create, 그 이후론 update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  cache:
    type: redis

  # https://github.com/microsoftarchive/redis/releases/tag/win-3.2.100
  # Redis-x64-3.2.100.msi install
  redis:
    # host: localhost
    # host: hebe-db.cok6p3wjd2e5.ap-northeast-2.rds.amazonaws.com
    host: ec2-15-164-202-112.ap-northeast-2.compute.amazonaws.com
    port: 6379

mybatis:
  mapper-locations: mybatis-mapper/**/*.xml
  type-aliases-package: com.hebe

server:
  port: 8080

cloud:
  aws:
    credentials:
      accessKey: AKIAXJCTAAUDILUQ2MRI
      secretKey: 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
    s3:
      bucket: hebe-bucket
    region:
      static: ap-northeast-2
    stack:
      auto: false
